:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  .section {
    padding: 0 10px;
  }

  .button-section {

    button {
      width: 100%;
      padding: 10px;
      margin: 5px 0;
    }
  }

  .name-section {
    display: flex;
    gap: 5px;
    height: 2rem;
    line-height: 2rem;

    input {
      flex: 1;
    }
  }
}
.home-section {
  max-width: 500px;
  width: 100%;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 10px;

  button {
    cursor: pointer;
  }
}
