.name-section {
  display: flex;
  gap: var(--small-gap);
  height: 2rem;
  line-height: 2rem;

  input {
    flex: 1;
  }
}

.button-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--small-gap);

  .start-btn {
    grid-column-end: span 2;
  }
}

