:host {
  padding: 5px;
  border-bottom: 2px solid var(--color-tone-4);
}
nav {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 30px;

  h3 {
    cursor: pointer;
  }
}
