nav {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 30px;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--color-tone-4);

  h3 {
    cursor: pointer;
  }
}
