:host {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 0.2rem;
  height: var(--keyboard-height);
}

.row {
  display: grid;
  gap: inherit;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  width: 100%;
  justify-content: center;
  margin: 0 auto;

  &:nth-child(2) {
    width: 90%;
  }

    .key {
      user-select: none;
      border-radius: 5px;
      color: white;
      font-size: 1.25rem;
      padding: 0 5px;

      &.found {
        background-color: var(--present-color-tone);

        &:hover, &:active, &.active {
          background-color: var(--present-color-tone-darker);
        }
      }

      &.not-found {
        background-color: var(--color-tone-4);

        &:hover, &:active, &.active {
          background-color: var(--color-tone-5);
        }
      }

      &.big-key {
        min-width: 3rem;
        width: max-content;
      }
    }
}
