:host {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 8px;
  height: 200px;
}

.row {
  display: grid;
  gap: 0.2rem;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  width: 100%;
  justify-content: center;
  margin: 0 auto;

  &:nth-child(2) {
    width: 90%;
  }

    .key {
      user-select: none;
      background-color: var(--color-tone-2);
      border-radius: 5px;
      text-align: center;
      display: flex;
      padding: 0 5px;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      color: white;
      font-size: 1.25rem;
      border: var(--color-tone-2);
      animation-duration: 0.3s;
      animation-timing-function: ease;

      &.found {
        background-color: var(--present-color-tone);
      }

      &.not-found {
        background-color: var(--color-tone-4);
      }

      &.big-key {
        min-width: 3rem;
        width: max-content;
      }

      &:active {
        animation-name: moveDown;
      }
    }
}

@keyframes moveDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}
