/* You can add global styles to this file, and also import other style files */
:root {
  --color-tone-1: #ffffff;
  --color-tone-2: #818384;
  --color-tone-3: #565758;
  --color-tone-4: #3a3a3c;
  --color-tone-5: #272729;
  --color-tone-6: #1a1a1b;
  --color-tone-7: #121213;
  --color-tone-8: #ffffff;
  --color-tone-9: #424242;
  --color-tone-10: #dfdfdf;
  --color-tone-11: #dfdfdf;
  --correct-color-tone: #538d4e;
  --present-color-tone: #b59f3b;
  --present-color-tone-darker: #8d7c2d;
  --header-height: 65px;
  --keyboard-height: 200px;
  --gap: 10px;
  --small-gap: 5px;
}

html * {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica,Arial, Lucida Grande, sans-serif;
  font-size: 16px;
  background-color: var(--color-tone-7);
  color: var(--color-tone-1);

  &[theme^="dark"] {

  }
}

.main-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  gap: var(--gap);
  margin: 0 auto;
  max-width: 500px;
  width: 100%;
  padding: 10px;
  justify-content: center;
}

.toast-message {
  position: fixed;
  width: max-content;
  max-width: 80%;
  text-align: center;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, top 0.6s ease-in-out;

  &.show {
    top: 20px; /* Transition to the desired position */
    opacity: 1; /* Transition to full opacity */
  }

  &.success {
    background-color: #4caf50;
  }

  &.error {
    background-color: #f44336;
  }
}

input, button {
  font-size: inherit;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  text-decoration: none;
  display: inline-block;
  background-color: var(--color-tone-3);
  color: white;
  transition-duration: 0.1s;

  &:disabled {
    background-color: var(--color-tone-2);
    cursor: unset;
  }

  &:not(:disabled) {
    cursor: pointer;

    &:active {
      z-index: 2;
      transform: translateY(4px);
    }

    &:hover {
      background-color: var(--color-tone-4);
    }
  }



}
